[testing]
bootstrap.path = TEST_ROOT "/assets/application/Bootstrap.php"
bootstrap.class = "Bootstrap"

; Database
resources.db.adapter = "Mysqli"
resources.db.params.host = "[host]"
resources.db.params.username = "[username]"
resources.db.params.password = "[password]"
resources.db.params.dbname = "[dbname]"
resources.db.params.charset = "UTF8"
resources.db.isDefaultTableAdapter = 1

indexarpdf = 0

; Email
; type = gmail, locaweb, revenda, smtp
; port se deixado em branco usa o padrão
; gmail sempre usa o smtp, ssl e port padrão do gmail
;
cms.email.name  = "PHPUnit Test"
cms.email.email = "teste@realejo.com.br"
cms.email.returnPath = "teste@realejo.com.br"
cms.email.type = "sendmail"
cms.email.username = ""
cms.email.password = ""
