<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="false">
    <testsuite name="Realejo Library ZF1 Test Suite">
        <directory>./library/RW</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../library/RW</directory>
        </whitelist>
    </filter>
</phpunit>
