<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="false">
    <testsuite name="ApplicationTestSuite">
        <directory>./RW</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../library/RW</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/coverage" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70"/><br/>
		<log type="testdox-html" target="./log/testdox.html"/>		
    </logging>
</phpunit>
